MetalForming/MetalForming.Web/Service References/ProduccionService/ProduccionService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7457/ProduccionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MetalForming.BusinessEntities" />
  <xs:import schemaLocation="http://localhost:7457/ProduccionService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="ListarOrdenesVentaPendiente">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarOrdenesVentaPendienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MetalForming.BusinessEntities" minOccurs="0" name="ListarOrdenesVentaPendienteResult" nillable="true" type="q1:ArrayOfOrdenVenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarOrdenesVentaParaAsignar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPrograma" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarOrdenesVentaParaAsignarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MetalForming.BusinessEntities" minOccurs="0" name="ListarOrdenesVentaParaAsignarResult" nillable="true" type="q2:ArrayOfOrdenVenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarOrdenesVentaPorPrograma">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPrograma" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarOrdenesVentaPorProgramaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MetalForming.BusinessEntities" minOccurs="0" name="ListarOrdenesVentaPorProgramaResult" nillable="true" type="q3:ArrayOfOrdenVenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerOrdenVentaPorNumero">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numero" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerOrdenVentaPorNumeroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MetalForming.BusinessEntities" minOccurs="0" name="ObtenerOrdenVentaPorNumeroResult" nillable="true" type="q4:OrdenVenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarMaterialesPorProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idProducto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarMaterialesPorProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MetalForming.BusinessEntities" minOccurs="0" name="ListarMaterialesPorProductoResult" nillable="true" type="q5:ArrayOfMaterial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarMaquinaPorBusqueda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pld" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="configuracion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarMaquinaPorBusquedaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MetalForming.BusinessEntities" minOccurs="0" name="ListarMaquinaPorBusquedaResult" nillable="true" type="q6:ArrayOfMaquina" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMaquinaPorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idMaquina" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMaquinaPorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MetalForming.BusinessEntities" minOccurs="0" name="ObtenerMaquinaPorIDResult" nillable="true" type="q7:Maquina" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarOrdenProduccion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MetalForming.BusinessEntities" minOccurs="0" name="ordenProduccion" nillable="true" type="q8:OrdenProduccion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarOrdenProduccionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrarOrdenProduccionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarOrdenesProduccion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarOrdenesProduccionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MetalForming.BusinessEntities" minOccurs="0" name="ListarOrdenesProduccionResult" nillable="true" type="q9:ArrayOfOrdenProduccion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarOrdenesProduccionPorPrograma">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPrograma" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarOrdenesProduccionPorProgramaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/MetalForming.BusinessEntities" minOccurs="0" name="ListarOrdenesProduccionPorProgramaResult" nillable="true" type="q10:ArrayOfOrdenProduccion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObetenerOrdenProduccionPorNumero">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numero" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObetenerOrdenProduccionPorNumeroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/MetalForming.BusinessEntities" minOccurs="0" name="ObetenerOrdenProduccionPorNumeroResult" nillable="true" type="q11:OrdenProduccion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarOrdenesProduccionParaEjecucion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarOrdenesProduccionParaEjecucionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/MetalForming.BusinessEntities" minOccurs="0" name="ListarOrdenesProduccionParaEjecucionResult" nillable="true" type="q12:ArrayOfOrdenProduccion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AprobarMasivoOrdenesProduccion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ordenesProduccion" nillable="true" type="q13:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AprobarMasivoOrdenesProduccionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AprobarIndividualOrdenProduccion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idOrdenProduccion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AprobarIndividualOrdenProduccionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RechazarOrdenProduccion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idOrdenProduccion" type="xs:int" />
        <xs:element minOccurs="0" name="motivoRechazo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RechazarOrdenProduccionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPlanVigente">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPlanVigenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/MetalForming.BusinessEntities" minOccurs="0" name="ObtenerPlanVigenteResult" nillable="true" type="q14:Plan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListrarProgramasPorPlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPlan" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListrarProgramasPorPlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/MetalForming.BusinessEntities" minOccurs="0" name="ListrarProgramasPorPlanResult" nillable="true" type="q15:ArrayOfPrograma" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerProgramaVigente">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerProgramaVigenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/MetalForming.BusinessEntities" minOccurs="0" name="ObtenerProgramaVigenteResult" nillable="true" type="q16:Programa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarPrograma">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/MetalForming.BusinessEntities" minOccurs="0" name="programa" nillable="true" type="q17:Programa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarProgramaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuardarProgramaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinalizarPrograma">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPrograma" type="xs:int" />
        <xs:element minOccurs="0" name="motivo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinalizarProgramaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>