MetalForming/MetalForming.Web/Service References/MantenimientoService/MantenimientoService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MetalForming.BusinessEntities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MetalForming.BusinessEntities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7457/MantenimientoService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MetalForming.BusinessEntities.Core" />
  <xs:complexType name="ArrayOfMaterial">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Material" nillable="true" type="tns:Material" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMaterial" nillable="true" type="tns:ArrayOfMaterial" />
  <xs:complexType name="Material">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/MetalForming.BusinessEntities.Core" base="q1:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Ancho" type="xs:int" />
          <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
          <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Espesor" type="xs:int" />
          <xs:element minOccurs="0" name="Estado" type="xs:int" />
          <xs:element minOccurs="0" name="Informacion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Largo" type="xs:int" />
          <xs:element minOccurs="0" name="Presion" type="xs:int" />
          <xs:element minOccurs="0" name="Reservado" type="xs:int" />
          <xs:element minOccurs="0" name="Stock" type="xs:int" />
          <xs:element minOccurs="0" name="StockMinimo" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Material" nillable="true" type="tns:Material" />
</xs:schema>