MetalForming/MetalForming.Web/Service References/MantenimientoService/MantenimientoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MantenimientoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7457/MantenimientoService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7457/MantenimientoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7457/MantenimientoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MetalForming.BusinessEntities" />
      <xsd:import schemaLocation="http://localhost:7457/MantenimientoService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MetalForming.BusinessEntities.Core" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMantenimientoService_ListarMateriales_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarMateriales" />
  </wsdl:message>
  <wsdl:message name="IMantenimientoService_ListarMateriales_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarMaterialesResponse" />
  </wsdl:message>
  <wsdl:message name="IMantenimientoService_GuardarMaterial_InputMessage">
    <wsdl:part name="parameters" element="tns:GuardarMaterial" />
  </wsdl:message>
  <wsdl:message name="IMantenimientoService_GuardarMaterial_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarMaterialResponse" />
  </wsdl:message>
  <wsdl:message name="IMantenimientoService_ActualizarMaterial_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarMaterial" />
  </wsdl:message>
  <wsdl:message name="IMantenimientoService_ActualizarMaterial_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarMaterialResponse" />
  </wsdl:message>
  <wsdl:message name="IMantenimientoService_EliminarMaterial_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarMaterial" />
  </wsdl:message>
  <wsdl:message name="IMantenimientoService_EliminarMaterial_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarMaterialResponse" />
  </wsdl:message>
  <wsdl:portType name="IMantenimientoService">
    <wsdl:operation name="ListarMateriales">
      <wsdl:input wsaw:Action="http://tempuri.org/IMantenimientoService/ListarMateriales" message="tns:IMantenimientoService_ListarMateriales_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMantenimientoService/ListarMaterialesResponse" message="tns:IMantenimientoService_ListarMateriales_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GuardarMaterial">
      <wsdl:input wsaw:Action="http://tempuri.org/IMantenimientoService/GuardarMaterial" message="tns:IMantenimientoService_GuardarMaterial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMantenimientoService/GuardarMaterialResponse" message="tns:IMantenimientoService_GuardarMaterial_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarMaterial">
      <wsdl:input wsaw:Action="http://tempuri.org/IMantenimientoService/ActualizarMaterial" message="tns:IMantenimientoService_ActualizarMaterial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMantenimientoService/ActualizarMaterialResponse" message="tns:IMantenimientoService_ActualizarMaterial_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarMaterial">
      <wsdl:input wsaw:Action="http://tempuri.org/IMantenimientoService/EliminarMaterial" message="tns:IMantenimientoService_EliminarMaterial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMantenimientoService/EliminarMaterialResponse" message="tns:IMantenimientoService_EliminarMaterial_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMantenimientoService" type="tns:IMantenimientoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarMateriales">
      <soap:operation soapAction="http://tempuri.org/IMantenimientoService/ListarMateriales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarMaterial">
      <soap:operation soapAction="http://tempuri.org/IMantenimientoService/GuardarMaterial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarMaterial">
      <soap:operation soapAction="http://tempuri.org/IMantenimientoService/ActualizarMaterial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarMaterial">
      <soap:operation soapAction="http://tempuri.org/IMantenimientoService/EliminarMaterial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MantenimientoService">
    <wsdl:port name="BasicHttpBinding_IMantenimientoService" binding="tns:BasicHttpBinding_IMantenimientoService">
      <soap:address location="http://localhost:7457/MantenimientoService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>